<%= form_with(url: new_path, model: library_list, local: true) do |form| %>
    <% if library_list.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(library_list.errors.count, "error") %> prohibited this library list from being saved:</h2>

          <ul>
            <% library_list.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :language %>
      <%= form.text_field :language, required: true %>
    </div>

    <div class="field">
      <%= form.label :category %>
      <%= form.text_field :category, required: true %>
    </div>

    <div class="field">
      <%= form.label :repo %>
      <%= form.text_field :repo, required: true %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
