<p id="notice"><%= notice %></p>

<h1>Awesome List</h1>

<table>
  <thead>
  <tr>
    <% if library_list_type.eql?('language') %>
      <th>Language</th>
    <% elsif library_list_type.eql?('category') %>
      <th>Category</th>
    <% elsif library_list_type.eql?('repo') %>
      <th>Repo Name</th>
      <th>Star Count</th>
      <th>Fork Name</th>
      <th>Last Update</th>
    <% end %>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <% @library_lists.each do |library_list| %>
      <tr>
        <% if library_list_type.eql?('language') %>
          <td><%= link_to library_list.item, language_path(library_list.item) %></td>
        <% elsif library_list_type.eql?('category') %>
          <td><%= link_to library_list.item, language_path("#{library_list.language}/#{library_list.item}") %></td>
        <% elsif library_list_type.eql?('repo') %>
          <td><%= library_list.name %></td>
          <td><%= library_list.star_count %></td>
          <td><%= library_list.fork_count %></td>
          <td><%= library_list.pushed_at %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Library', new_path %> |
<%= link_to 'Home', root_path %>